### **Tuple**
1. tuple.index(element)
   - where element is persent in tuple 
2. tuple.count(element)
   - counts the frequency of element in the tuple

In [ ]:
t=(1,2,3,4)
print(type(t))
print(t.index(2))
print(t.count(1))

<class 'tuple'>
1
1

### **Set**
1. s1.intersection(s2)
   - gives common elements in both sets
2. s1.union(s2)
   - gives all the elements from both the sets without duplicates
3. s1.difference(s2)
   - returns elements from the s1 which are not present in s2
4. s1.add(element)
   - adds element into the list
5. s1.difference_update(s2)

In [ ]:
s1={1,2,3,4}
s2={2,5,6,1}
print('intersection:',s1.intersection(s2))
print(s1.union(s2))
print('difference:',s1.difference(s2))
s1.add(5)
print('after add:',s1)
s1.difference_update(s2)
print('difference update:',s1)

intersection: {1, 2}
{1, 2, 3, 4, 5, 6}
difference: {3, 4}
after add: {1, 2, 3, 4, 5}
difference update: {3, 4}

### **Conditional Statements**
1. if(condtition):

        statements
2. elif(condition):

        statements

3. else:
  
        statements
Types of

In [ ]:
#even or odd
a=int(input())
print('Using if-else:')
if a%2==0:
  print(a,'is even')
else:
  print(a,'is odd')
print('Using ternary statement:')
print(a,'is even') if a%2==0 else print(a,'is odd')

12
Using if-else:
12 is even
Using ternary statement:
12 is even

### **Ternary Operator**
- print(statement) if condition else print(statement)

In [ ]:
#printing week days
a=int(input('Enter the day number :'))
if a==1:
  print('Sunday')
elif a==2:
  print('Monday')
elif a==3:
  print('Tuesday')
elif a==4:
  print('Wednesday')
elif a==5:
  print('Thursday')
elif a==6:
  print('Friday')
elif a==7:
  print('Saturday')
else:
  print('Please enter valid number')

Enter the day number :12
Please enter valid number

In [ ]:
#>0 and <20 if even print weird  else normal
#20-30 print normal 
#>=30 and odd print normal else weird
num=int(input())
if num>0 and num<20:
  if num%2==0:
    print('Weird Number')
  else:
    print('Normal Number')
elif num>=20 and num<30:
  print('Normal Number')
else:
  if num%2==0:
    print('Weird Number')
  else:
    print('Normal Number')

20
Normal Number

### **Dictionary**
1. It is key-value pair 
2. key and value are seperated by colon(:)
3. Every pair is seperated by comma(,)

Dictionary Method
1. d.update({key:value})
2. d.

In [ ]:
d={1:'teja',2:'vani',3:'vasa'}
print(d)
dicti={
    'rollnum1':{'name':'abc','class':'1'},
    'rollnum2':{'name':'def','class':'2'}
}
print(dicti)

{1: 'teja', 2: 'vani', 3: 'vasa'}
{'rollnum1': {'name': 'abc', 'class': '1'}, 'rollnum2': {'name': 'def', 'class': '2'}}

In [ ]:
d={'s1':'A','s2':'B','s3':'C','s4':'D','s5':'E'}
d.update({'s1':'F'})
print(d['s1'])

F

### **Range function**
- range(start,end,step_size)

In [ ]:
#range function
for i in range(1,10):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [1]:
import math as m
l=[(12,12),(25,25),(26,26)]
for i in l:
  a=m.prod(i)
  print(a*a,end=' ')

20736 390625 456976

In [ ]:
l=[10,20,30,40]
n=int(input())
if n not in l:
  print(-1)
  exit(0)
for i in range(len(l)):
  if l[i]==n:
    print('Index is:',i)
    break

20
Index is: 1

### **List Comprehension**
- list=[x for x in range(start,end)]

In [ ]:
#list comprehension vs normal method
l=[]
for i in range(10):
  l.append(i)
print(l)
#another way
l=[x for x in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#generate even numbers in 0-50 range
l=[num for num in range(0,51) if num%2==0]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
#printing 
l=[i for i in range(1,101) if i%7==0 and i%11==0]
print(l)

[77]

In [ ]:
#printing list in reverse order
l=[1,2,3,4]
for i in range(len(l)-1,-1,-1):
  print(l[i],end=' ')

4 3 2 1

In [ ]:
#sum of positive and negative elements
l=list(map(int,input().split()))
p,n=0,0
for i in l:
  if i>-1:
    p=p+i
  else:
    n=n+i
print('Sum of positive numbers:',p)
print('Sum of negative numbers:',n)

1 2 -1 -2
Sum of positive numbers: 3
Sum of negative numbers: -3

### **Task**

In [ ]:
#dict input
#username and password -- keys
#store these in a list